//Note: for Adaptive cards 0.5.6, you must use rgb, rgba, or the 6-digit hex (do not use 3 digit hex shortcut)
$c00: #000000 !default;
$c01: #ffffff !default;
$c02: rgba(0, 0, 0, 0.2) !default;
$c03: #8a8a8a !default;
$c04: #999999 !default;
$c05: #cccccc !default;
$c06: #767676 !default; // used for timestamp under chat bubbles
$c07: #0078d7 !default;
$c08: #575a5e !default;
$c09: #f1f1f4 !default;
$c10: #dbdee1 !default;
$c11: #d2dde5 !default;
$c12: #0078d7 !default;

$c_brand: $c07 !default;
$c_line: $c05 !default;
$c_shadow: $c02 !default;
$c_chrome: $c10 !default;
$c_textHeading: $c08 !default;
$c_textLight: $c04 !default;
$c_textLink: $c07 !default;

$c_messageFromMe: $c03 !default;
$c_messageFromThem: $c09 !default;
$c_timestamp: $c06 !default;